<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid App</title>
</head>
<body>
    <h1>Covid APP</h1>
    <h4>
        Esta es la nueva App de Pasaportes creada por los estudiantes de la UEM
    </h4>
    <h3>
        Estadisticas de las vacunas: 
    </h3>
    <p>

        Cantidad de Astrazeneca : {{ AstraZenecaCount }}
        Cantidad de Janssen : {{ JanssenCount }}
        Cantidad de Moderna : {{ ModernaCount }}
        Cantidad de Pfizer : {{ PfizerCount }}
    </p>

    <button>
        <a href="">
            Escanear mi pasaporte YA
        </a>
    </button>

</body>
</html>